/*======================================== config =================================*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #212121;
  transition: 0.3s all !important;
}
a:hover {
  color: #EC7700;
}

a:hover,
a:focus {
  text-decoration: none;
}

input {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

body {
  background: #000000;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.3 !important;
  font-family: "Inter", serif;
  font-weight: normal;
  overflow: hidden;
}
@media (max-width: 1440px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}
body img {
  transition: 0.34s all !important;
  max-width: 100%;
  display: inline;
}
body svg {
  display: inline !important;
}
body h1 h2, body h3 h4, body h5 h6 {
  line-height: 1.3;
}
body .container {
  max-width: 1424px;
  width: 100%;
}
body .w-100 {
  width: 100%;
}
body .row {
  margin: 0 -12px;
}
body .row > div {
  padding: 0 12px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none !important;
}

/*======================================== end config =================================*/
.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 24px;
}
@media (max-width: 1200px) {
  .header-menu {
    padding: 16px;
  }
}
@media (max-width: 767px) {
  .header-menu {
    padding: 16px 0;
  }
}
.header-menu .content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .header-menu .content-header {
    display: block;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .header-menu .content-header .logo {
    margin-bottom: 12px;
  }
}
.header-menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header-menu ul {
    justify-content: center;
  }
}
.header-menu ul li {
  margin-right: 16px;
}
.header-menu ul li:last-child {
  margin-right: 0;
}
.header-menu ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  border-radius: 40px;
  background: #171717;
  color: #fff;
  font-weight: 500;
}
@media (max-width: 767px) {
  .header-menu ul li a {
    padding: 6px 10px;
  }
}
.header-menu ul li a:hover {
  color: #010101;
  background: #fff;
}
.header-menu ul li a:hover svg {
  filter: brightness(0);
  -webkit-filter: brightness(0);
}
.header-menu ul li a svg {
  margin-right: 8px;
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}
@media (max-width: 767px) {
  .header-menu ul li a svg {
    margin-right: 4px;
    width: 14px;
    height: auto;
    position: relative;
    top: -1px;
  }
}
.header-menu ul li a.launch-app {
  color: #0A0A0A;
  padding: 16px 32px;
  background: radial-gradient(85.2% 224.04% at 12.26% 0%, #FCCA84 0%, #F7A0D4 39.69%, #8CECFF 100%);
}
@media (max-width: 767px) {
  .header-menu ul li a.launch-app {
    padding: 6px 10px;
  }
}
.header-menu ul li a.launch-app svg {
  filter: brightness(0);
  -webkit-filter: brightness(0);
  margin-left: 12px;
}
@media (max-width: 767px) {
  .header-menu ul li a.launch-app svg {
    margin-left: 6px;
    position: relative;
    top: 1px;
  }
}

main {
  overflow: hidden;
}

.box-home-template {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s all !important;
}
.box-home-template.active {
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 767px) {
  .box-home-template {
    padding: 0 24px;
  }
}
.box-home-template .avr img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-home-cover {
  position: relative;
  z-index: 2;
}
.content-home-cover .desc {
  max-width: 635px;
  margin: 0 auto;
  line-height: 1.5;
}
.content-home-cover .title-cover {
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .content-home-cover .title-cover {
    margin-bottom: 24px;
  }
}
.content-home-cover .title-cover img {
  max-height: 52vh;
}
@media (max-width: 1023px) {
  .content-home-cover .title-cover img {
    max-width: 80vw;
  }
}

.video-template {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.4s all !important;
  pointer-events: none;
  opacity: 0;
}
.video-template.active {
  opacity: 1;
  pointer-events: unset;
}
.video-template video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cursor {
  width: 180px;
  height: 180px;
  background: url("../images/cursor.png") no-repeat center;
  background-size: 100% 100%;
  border-radius: 100%;
  position: absolute;
  z-index: 3;
  margin-left: -90px;
  margin-top: -90px;
  pointer-events: none;
}
@media (max-width: 1023px) {
  .cursor {
    display: none !important;
  }
}

.hver-cursor {
  position: fixed;
  top: 92px;
  left: 0;
  width: 100%;
  height: calc(100vh - 92px);
  z-index: 3;
}

@media (max-width: 1023px) {
  .play-video {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
  }
  .play-video a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
.play-video svg {
  width: 60px;
  height: auto;
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

/*# sourceMappingURL=style.css.map */
